.footer {
  position: relative;
  background-color: #EB4500;
  color:white;
  overflow-x: hidden;

  &__square{
    position: absolute;
    border: 2px solid white;
  }

  &__square-big{

    @extend .footer__square;
    width: 68px;
    height: 68px;
    left: -2px;
    bottom: 0px;

    @include breakpoint(md){
      width: 36px;
      height: 36px;
    }
    @include breakpoint(sm68){
      display: none;
    }
  }

  &__square-small{
    @extend .footer__square;
    width: 54px;
    height: 54px;
    left:-54px;
    bottom:-52px;

    @include breakpoint(md){
      width: 28px;
      height: 28px;
      left:-28px;
      bottom:-26px;
    }
    @include breakpoint(sm68){
      display: none;
    }
  }

  /*&__square{
    width: 125px;
    height: 125px;
    border: 2px solid white;
    position: absolute;
    left: -50px;
    bottom: -50px;

    @include breakpoint(md){
      width: 62px;
      height: 62px;
      left: -25px;
      bottom: -25px;
    }
    @include breakpoint(sm68){
      display: none;
    }
  }*/

  &__row {
    position: relative;
    display: flex;
    &:first-child{
      .footer__col-r{
        position: relative;
      }
    }
  }

  &__title{
    font-size: 18px;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 40px;
    //color:white;

    @include breakpoint(md){
      font-size: 14px;
      margin-bottom: 20px;
    }
  }

  &__title-btn{
    @extend .footer__title;

    background-color: unset;
    color:white;
    text-align: start;
  }

  &__col-l {
    flex-basis: 74%;

    &:not(.footer__col-l--socials){


      border-right: 2px solid white;
      @include breakpoint(sm68){
        border-right: 0;
      }
    }

    @include breakpoint(sm68){
      border-right: none;
    }
  }

  &__white-square{
    width: 56px;
    height: 56px;
    position: relative;
    top: -2px;
    display: none;
    //border: 2px solid white;
    @include breakpoint(sm68){
      display: block;
    }

    .footer__square-general{
      border:2px solid white;
      position:absolute;
    }

    .footer__top-square{
      @extend .footer__square-general;
      width: 32px;
      height: 32px;
      top: 0;
      left: 0;
    }

    .footer__bottom-square{
      @extend .footer__square-general;

      width: 26px;
      height: 26px;
      bottom: 0;
      right: 0;
    }
  }

  &__border-line-top{
    height: 2px;
    background-color: white;
    position: absolute;
    left:-50%;
    bottom:0;
    z-index: 2;
    width: calc(100% * 2);

    @include breakpoint(md){}
  }

  &__border-line-main{
    display: none;
    top: 0;

    @extend .footer__border-line-top;

    @include breakpoint(xs45){
      display: initial;
    }
  }

  &__border-line-submenu{
    display: none;

    @extend .footer__border-line-top;

    @include breakpoint(xs45){
      display: initial;
    }
  }

  &__border-line-bottom{
    @extend .footer__border-line-top;
  }

  &__col-l--socials{
    @include breakpoint(sm68){
      flex-basis: 100%;
      & + .footer__col-r{
        flex-basis: unset;
      }
    }
  }

  &__socials {
    padding:40px 0 24px;

    @include breakpoint(lg){
      padding:40px 0 24px
    }
    @include breakpoint(md){
      padding: 24px 0 16px;
    }
    @include breakpoint(sm){
      padding:40px 0 16px;
    }

    .footer__link{
      margin-right: 24px;
    }
  }

  &__link {
    font-size: 14px;
    font-weight: 400;
    line-height: 120%;

    @include breakpoint(md){
      font-size: 12px;
    }
    &:visited{
      color:white;
    }
  }

  .icon-vk {
  }

  .icon-social {
    font-size: 20px;

    &:before{
      transition: .3s;
    }

    &:hover:before{
      color:#00AA4B;
    }
  }

  .icon-facebook {
  }

  .icon-insta {
  }

  .icon-twitter {
  }

  .icon-youtube {
  }

  .icon-zen {
  }


  &__col-r {
    flex-basis: 26%;
  }

  &__main-content {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    position: relative;
    padding-bottom: 64px;

    @include breakpoint(xs45){
      padding-top: 40px;
    }

    @include breakpoint(md){
      padding-bottom: 40px;
      /*.footer__item:last-child{
        margin-bottom: 20px;
      }*/
    }
    @include breakpoint(xs38){
      padding-bottom: 20px;
      .footer__item:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__block {
    margin-top: 64px;
    flex-basis: 32%;



    @include breakpoint(md){
      margin-top: 40px;
      flex-basis: 49%;
    }
    @include breakpoint(sm){
      margin-top: 20px;
    }
    @include breakpoint(xs38){
      margin-top: 0;
      flex-basis: 100%;


    }
  }

  &__row--main{
   display: flex;
    //padding-bottom: 64px;
    @include breakpoint(sm68){
      flex-direction: column-reverse;
    }

  }

  &__block-title {
    //@extend &__title;
  }

  &__block-list {

    @include breakpoint(xs38){
      max-height: 0;
      overflow: hidden;
      padding-left: 10px;
      margin-bottom: 10px;
      transition: max-height .3s ease-out;
    }
  }

  &__item {
    margin-bottom: 16px;
    @include breakpoint(md){
      margin-bottom: 8px;
    }
  }

  &__contacts {

   /* z-index: 1;
    background-color: #EB4500;*/
    padding-left: 34px;
    max-width: 400px;
    @include breakpoint(md){
      padding-left: 23px;
    }
    @include breakpoint(sm68){
      padding-left: 0;
    }

    @include breakpoint(xs38){
      margin-bottom: 20px;
    }

    .footer__item{
      margin-bottom: 20px;
    }

  }

  &__row--end{

    .footer__col-l{
      position: relative;
    }
    @include breakpoint(sm68){

      .footer__col-l, .footer__col-r{
        flex-basis: 50%;
      }
    }

    @include breakpoint(xs45){
      display: flex;
      flex-direction: column;
      .footer__col-l, .footer__col-r{
        flex-basis: 100%;
      }
    }

    .footer__col-r{

      padding-left:34px;
      display: flex;
      align-items: center;

      img{
        margin-right: 15px;
      }

      @include breakpoint(md){
        padding-left: 23px;
      }
      @include breakpoint(sm68){
        align-items: end;
        margin-bottom: 20px;
        padding-left: 0;
      }
      @include breakpoint(xs45){
        margin-bottom: 0;
        margin-top: 28px;
      }
    }
  }

  &__contacts-highlights{
    font-weight: 700;
    font-size: 14px;
    line-height: 120%;
    display: block;
    margin-top: 8px;

    @include breakpoint(lg){
      max-width: 200px;
    }

    @include breakpoint(md){
      max-width: 160px;
      font-size: 12px;
    }

    @include breakpoint(sm68){
      max-width: unset;
    }
  }

  .footer__contacts-list{
    margin-bottom: 40px;

    &:last-child{
      margin-bottom: 0;
    }
  }

  &__block-title {

    @extend .footer__title;
    margin-top: 64px;

    @include breakpoint(md){
      margin-top: 40px;
    }
    @include breakpoint(sm){
      margin-top: 20px;
    }
  }

  &__f-list {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 40px 0;


    @include breakpoint(lg){
    }

    @include breakpoint(md){
      margin:20px 0;
    }

    @include breakpoint(sm68){
      flex-direction: column;
      text-align: start;
      align-items: start;
    }

    @include breakpoint(sm){
      margin:40px 0;
    }
  }

  &__f-item {
    margin-right: 64px;

    @include breakpoint(lg){
      margin-right: 40px;
    }
    @include breakpoint(md){
      margin-right: 20px;
    }
    @include breakpoint(sm68){
      margin-right: 0;
      margin-bottom: 20px;

      &:last-child{
        margin-bottom: 0;
      }
    }
  }

  &__f-link {
    color:white;

    &:visited{
      color:white;
    }
  }

  &__comp-wrapper{
    display: flex;
    align-items: center;

    @include breakpoint(sm){
      padding-bottom: 20px;
    }
  }

  &__underline-animation {
    display: inline-block;
    position: relative;
    color: white;
    //width: 100%;
  }

  &__underline-animation::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &__underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

}