body.lock{
  //@include breakpoint(md){
    overflow: hidden;
  //}
}

.header{
  border-bottom: 1px solid #E2E8F0;
  background-color: $navBgColor;
}

.nav {
  left: 0;
  //height: $navHeight;
  display: flex;
  justify-content: space-between;
  align-items: center;
  //background-color: $navBgColor;
  z-index: 2;
  margin-top: 40px;
  //margin-bottom: 8px;
  position: fixed;
  width: 100%;


  @include breakpoint(lg){
    padding: 0 36px;
  }

  @include breakpoint(md){
    padding:0 32px;
  }
  @include breakpoint(sm){
    padding:0 12px;
  }
}

.hamburger {
    display: flex;
    row-gap: 4px;
    flex-direction: column;
    cursor: pointer;

    &.active .hamburger__bar:nth-child(2) {
      opacity: 0;
    }
    &.active .hamburger__bar:nth-child(1) {
      transform: translateY(6.5px) rotate(45deg);
    }
    &.active .hamburger__bar:nth-child(3) {
      transform: translateY(-6.5px) rotate(-45deg);
    }
  &.active .hamburger__word{
    opacity: 0;
    display: none;
  }
}

.hamburger__bar {
  display: block;
  width: 42px;
  height: 1.9px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #414042;
  @include breakpoint(md){
    width: 40px;
  }
  @include breakpoint(sm){
    width: 32px;
  }
}

.hamburger__word{
  font-family: 'FuturaFuturisC' , sans-serif;
  font-size: 18px;
  line-height: 110%;
  opacity: 1;
  transition: .3s ease-in-out;

  @include breakpoint(sm){
    font-size: 14px;
    text-align: center;
    line-height: 1;
  }
}

.nav__menu {
  opacity: 0;
  height: 100%;
  position: fixed;
  left: -100%;
  top:80px;
  background-color: $navBgColor;
  width: 100%;
  border-radius: 0 0 10px 10px;
  transition: 0.3s;
  box-shadow:0 10px 27px rgba(0, 0, 0, 0.05);

  &.active{
    overflow: auto;
    opacity: 1;
    display: initial;
    left: 0;
    height: 100%;

    @include breakpoint(lg){
      padding: 0 36px 6rem;
    }
    @include breakpoint(md){
      padding: 0 32px 6rem;
    }
    @include breakpoint(sm){
      padding: 0 12px 6rem;
    }
  }
}

.nav__item {
    //margin:2.5rem 0;
}

/*.nav__link{
  font-size: 1.4rem;
  font-weight: 400;
  color: $navTextColor;
  &:hover{
    //color: $navTextHoverColor;
  }
}*/

.nav__logo {

  @include breakpoint(sm){
    img{
      width: 160px;
    }
  }
}
.footer > .content{
  //@include breakpoint(md){
    //padding-top: 100px;
  //}
}

.nav__acc-wrapper{
  display: flex;
  flex-wrap:wrap;
  gap: 1%;

  @include breakpoint(lg){
    justify-content: space-between;
  }

  @include breakpoint(sm){
    gap: 2%;
  }

  @include breakpoint(xs45){
    padding-top: 25px;
  }
}
.accordion{

  margin-top: 64px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  align-items: start;
  flex-basis: 24%;

  @include breakpoint(lg){
    flex-basis: 32%;
    margin-top: 54px;
    row-gap: 36px;
  }

  @include breakpoint(sm){
    flex-basis: 49%;
    margin-top: 40px;
    row-gap: 30px;
  }

  @include breakpoint(xs45){
    margin-top: 0;
    row-gap: 18px;
    flex-basis: 100%;
  }
}
.accordion__btn{
  font-family: 'Russo One', sans-serif;
  font-size: 22px;
  position: relative;

  @include fluid-type(450px,1600px, 19px, 22px);
  line-height: 1;
  background-color: unset;
  text-align: start;

  @include breakpoint(xs45){
    font-size: 21px;
  }

  .icon-keyboard_arrow_right{

    display: none;
    @include breakpoint(xs45){
      display: inline-block;
      transition: transform .2s ease-in-out;
      transform-origin: center center;
      position: relative;
      top: 2px;
    }
  }


  &.active{
    .icon-keyboard_arrow_right{
        transform:rotate(90deg);
    }
  }
}

.accordion__panel{
  @include breakpoint(xs45){
    max-height: 0;
    overflow:hidden;
    transition: max-height .3s ease-out;

    &.active{
      margin-bottom: 20px;


    }
  }
}

.accordion__item{
  margin-bottom: 16px;
  //@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size)
  @include fluid-type(450px,1600px, 16px, 19px);
  line-height: 130%;

  @include breakpoint(lg){
    margin-bottom: 14px;
  }
  @include breakpoint(md){
    margin-bottom: 12px;
  }
  @include breakpoint(sm){
    margin-bottom: 10px;
  }
  @include breakpoint(xs45){
    font-size: 18px;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.accordion__list{
  @include breakpoint(xs38){
    padding-left: 10px;
  }
}

.accordion__link{

  &:visited{
    color:#414042;
  }
}

.nav__delimiter{
  display: block;
  background-color: #000;
  color:black;
  height: 1px;
  margin: 64px auto 40px;

  @include breakpoint(sm){
    margin: 42px auto 25px;
  }
}
.nav__footer{
  display: flex;
  justify-content: space-between;

  @include breakpoint(lg){
    flex-direction: column;
    row-gap: 20px;
  }
}

.nav__f-list{
  display: flex;
  gap: calc(100vw / 25);


  @include breakpoint(lg){
    gap: unset;
    justify-content: space-around;
  }
  @include breakpoint(md){
    justify-content: space-between;
    column-gap: 15px;
  }

  @include breakpoint(sm){
    flex-direction: column;
    row-gap: 8px;
  }
}

.nav__f-item{

}
.nav__f-link{
  color:#414042;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;


  &:visited{
    color:#414042;
  }

  @include fluid-type(450px,1600px, 14px, 19px);

  @include breakpoint(xs45){
    font-size: 18px;
  }
}

.nav__lang{
  align-items: center;
  display: flex;
  margin-right: 25px;
  &-item{
    line-height: 130%;
    .nav__lang-link{
      color:#EB4500;
      font-weight: 400;

      &:visited{
        color: #EB4500;
      }
    }
    &.lang-active{
      .nav__lang-link{
        color:#414042;
        font-weight: 700;

        &:visited{
          color:#414042;
        }
      }
    }
  }
  @include breakpoint(lg){
    justify-content: center;
    margin-right: 0;
  }

}
.nav__v-delimiter{
  height:100%;
  min-height: 15px;
  margin:0 8px 0;
  width:2px;
  background-color: #414042;
}

.nav__link-glob{
  display: inline-block;
  position: relative;
  color:#414042;

  &:after{
    content:'';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #414042;
    transform-origin: bottom right;
    transition: transform .25s ease-in-out;
  }
  &:hover:after{
    transform: scaleX(1);
    transform-origin:bottom left;
  }
  &:visited{
    color:#414042;
  }


}