@charset "utf-8";

@import "abstracts/_abstracts-dir";
@import "vendor/_verndor-dir";
@import "core/_core-dir";
@import "components/_components-dir";
@import "layouts/_layouts-dir";
@import "pages/_pages-dir";

.content{
  max-width: 1650px;
  margin: 0 auto;

  @include breakpoint(lg){

    padding-left: 36px;
    padding-right: 36px;
  }
  @include breakpoint(md){
    padding-left: 32px;
    padding-right: 32px;
  }
  @include breakpoint(sm){
    padding-left: 12px;
    padding-right: 12px;
  }
}
body{
  font-family: 'Inter', sans-serif;
  color:$mainColor;
}