h2{
  font-family: 'Russo One', sans-serif;
  line-height: 110%;
  @include fluid-type(768px, 992px, 24px, 38px);
}
h3{
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  @include fluid-type(768px, 992px, 16px, 20px);
  line-height: 120%;
  color: $mainColor;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Enable Ligatures ================ */
  letter-spacing: 0;
  -webkit-font-feature-settings: "liga";
  -moz-font-feature-settings: "liga=1";
  -moz-font-feature-settings: "liga";
  -ms-font-feature-settings: "liga" 1;
  font-feature-settings: "liga";
  -webkit-font-variant-ligatures: discretionary-ligatures;
  font-variant-ligatures: discretionary-ligatures;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clear:before {
  content: "\e901";
}
.icon-keyboard_arrow_right:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e900";
}
.icon-facebook:before {
  content: "\e902";
  color: #fff;
}
.icon-insta:before {
  content: "\e903";
  color: #fff;
}
.icon-twitter:before {
  content: "\e904";
  color: #fff;
}
.icon-vk:before {
  content: "\e905";
  color: #fff;
}
.icon-youtube:before {
  content: "\e906";
  color: #fff;
}
.icon-zen:before {
  content: "\e907";
  color: #fff;
}
