<section class="activity">
    <div class="content">
        <div class="activity__row">
            <div class="activity__title-wrapper">
                <h2 class="activity__title">Деятельность компании</h2>
                <div class="activity__img-wrapper">
                    <div class="activity__bg">
                        <div class="activity__bg-wrapper">
                            <img src="img/activity_2.jpg" alt="">
                        </div>
                    </div>

                </div>
            </div>
            <div class="activity__txt">
                <div class="activity__subtitle">Модернизация, технологии, экология, человеческий капитал — все это
                    приоритеты развития «Тольяттиазот»</div>
                <div class="activity__desc">
                    <p>Основной деятельностью ТОАЗа является выпуск минеральных удобрений и химической продукции.
                        Сегодня завод включает в себя 7 агрегатов по производству аммиака и 2 агрегата карбамида,
                        расположенных на более чем 200 га производственной площадки.
                    </p>
                    <p>
                        С самого своего основания «Тольяттиазот» играл значимую роль в развитии химической отрасли
                        страны, и в обеспечении благополучия родного города Тольятти и всей Самарской области. ТОАЗ
                        входит в пятерку крупнейших налогоплательщиков региона, а так же обеспечивает работой более 5000 горожан.
                    </p>
                    <p>
                        Помимо Российской Федерации, наши заказчики расположены в десятках стран на 5 континентах.
                        Мощности ТОАЗ позволяют обеспечить около 20% спроса на российском рынке и 11% объема мирового экспорта аммиака.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>