<section class="blog">
    <div class="content">
        <div class="blog__row">
            <h2 class="blog__title-wrapper"><span class="blog__title">Волжский химик</span></h2>
            <div class="blog__articles">
                <article class="blog__article">
                    <a href="#">
                        <div class="blog__a-img-wrapper">
                            <img class="blog__a-img" src="img/article-1.png" alt="">
                        </div>
                    </a>
                    <h3 class="blog__a-title">Зачем нужен аммиак?</h3>
                    <div class="blog__a-desc">
                        Для чего нужен аммиак? Многие наши коллеги с ходу скажут: «Для производства удобрений». Это
                        действительно так, но этим сфера применения аммиака не ограничивается. Аммиак служит сырьем ...
                    </div>
                    <div class="blog__a-footer">
                        <span class="blog__a-date">29.06.2021</span>
                        <a href="#" class="blog__a-link">Читать далее</a>
                    </div>
                </article>
                <article class="blog__article">
                    <a href="#">
                        <div class="blog__a-img-wrapper">
                            <img class="blog__a-img" src="img/article-2.png" alt="">
                        </div>
                    </a>
                    <h3 class="blog__a-title">Зачем нужен аммиак?</h3>
                    <div class="blog__a-desc">
                        Для чего нужен аммиак? Многие наши коллеги с ходу скажут: «Для производства удобрений». Это
                        действительно так, но этим сфера применения аммиака не ограничивается. Аммиак служит сырьем ...
                    </div>
                    <div class="blog__a-footer">
                        <span class="blog__a-date">29.06.2021</span>
                        <a href="#" class="blog__a-link">Читать далее</a>
                    </div>
                </article>
                <article class="blog__article">
                    <a href="#">
                        <div class="blog__a-img-wrapper">
                            <img class="blog__a-img" src="img/article-3.png" alt="">
                        </div>
                    </a>
                    <h3 class="blog__a-title">Зачем нужен аммиак?</h3>
                    <div class="blog__a-desc">
                        Для чего нужен аммиак? Многие наши коллеги с ходу скажут: «Для производства удобрений». Это
                        действительно так, но этим сфера применения аммиака не ограничивается. Аммиак служит сырьем ...
                    </div>
                    <div class="blog__a-footer">
                        <span class="blog__a-date">29.06.2021</span>
                        <a href="#" class="blog__a-link">Читать далее</a>
                    </div>
                </article>
                <a href="" class="blog__all-articles-btn"><span class="blog__all-articles-txt">Статьи</span><span class="icon-arrow-right"></span></a>
                <a href="" class="blog__all-editions-btn"><span class="blog__all-articles-txt">все выпуски</span><span class="icon-arrow-right"></span></a>
            </div>
        </div>
    </div>
</section>