<section class="capacity">
    <div class="content">
        <div class="capacity__row">
            <div class="capacity__col">
                <div class="capacity__title">
                    мощности
                </div>
            </div>
            <div class="capacity__col">

                <div class="capacity__stats">
                    <div class="capacity__stats-block">
                        <div class="capacity__subs-number">01</div>
                        <div class="capacity__subs-wrapper">
                            <div class="capacity__subs-value">960 000</div>
                            <div class="capacity__substance">Карбамида в год</div>
                        </div>
                        <div class="capacity__subs-units">тонн</div>
                    </div>

                    <div class="capacity__stats-block">
                        <div class="capacity__subs-number">02</div>
                        <div class="capacity__subs-wrapper">
                            <div class="capacity__subs-value">70 000</div>
                            <div class="capacity__substance">Углекислоты в год</div>
                        </div>
                        <div class="capacity__subs-units">тонн</div>
                    </div>

                    <div class="capacity__stats-block">
                        <div class="capacity__subs-number">03</div>
                        <div class="capacity__subs-wrapper">
                            <div class="capacity__subs-value">3 500 000</div>
                            <div class="capacity__substance">Жидкого аммиака в год</div>
                        </div>
                        <div class="capacity__subs-units">тонн</div>
                    </div>


                    <div class="capacity__link-wrapper">
                        <a href="">Читать больше</a>
                    </div>
                </div>
            </div>
            <div class="capacity__col">

                <div class="capacity__img-wrapper">
                    <picture>
                        <source srcset="img/capacity-xl.jpg" type="" media="(min-width: 992px) ">
                        <source srcset="img/capacity-lg.jpg" type="" media="(min-width:768px)">
                        <source srcset="img/capacity-md.jpg" type="" media="(min-width:556px)">
                        <source srcset="img/capacity-sm.jpg" type="" media="(min-width:320px)">
                        <img src="img/capacity-xl.jpg" alt="factory">
                    </picture>
                </div>
            </div>
        </div>
    </div>
</section>