<section class="company">

    <div class="content">
        <!--<div class="company__circle-outer">
            <div class="company__circle-main">
                <div class="company__circle-anim"></div>
            </div>
            <div class="company__modal">
                <button class="company__m-header">
                    <div class="company__m-title">Третий агрегат карбамида</div>
                    <div class="company__cls-btn"><span class="icon-clear"></span></div>
                </button>

                <div class="company__m-body">
                    <div class="company__m-txt">
                        Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                        предприятий в химической промышленности России.
                    </div>
                    <div class="company__m-footer">
                        <div class="company__m-footer-row">
                            <div class="company__c-name">Производственный комплекс</div>
                            <div class="company__limit">24 тонны в день</div>
                        </div>
                        <div class="company__m-footer-row">
                            <div class="company__card-number">01</div>
                            <div class="company__uptime">96% аптайм</div>
                            <div class="company__m-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company__circle-outer">
            <div class="company__circle-main">
                <div class="company__circle-anim"></div>
            </div>
            <div class="company__modal">
                <button class="company__m-header">
                    <div class="company__m-title">Третий агрегат карбамида</div>
                    <div class="company__cls-btn"><span class="icon-clear"></span></div>
                </button>

                <div class="company__m-body">
                    <div class="company__m-txt">
                        Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                        предприятий в химической промышленности России.
                    </div>
                    <div class="company__m-footer">
                        <div class="company__m-footer-row">
                            <div class="company__c-name">Производственный комплекс</div>
                            <div class="company__limit">24 тонны в день</div>
                        </div>
                        <div class="company__m-footer-row">
                            <div class="company__card-number">01</div>
                            <div class="company__uptime">96% аптайм</div>
                            <div class="company__m-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="company__circle-outer">
            <div class="company__circle-main">
                <div class="company__circle-anim"></div>
            </div>
            <div class="company__modal">
                <button class="company__m-header">
                    <div class="company__m-title">Третий агрегат карбамида</div>
                    <div class="company__cls-btn"><span class="icon-clear"></span></div>
                </button>

                <div class="company__m-body">
                    <div class="company__m-txt">
                        Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                        предприятий в химической промышленности России.
                    </div>
                    <div class="company__m-footer">
                        <div class="company__m-footer-row">
                            <div class="company__c-name">Производственный комплекс</div>
                            <div class="company__limit">24 тонны в день</div>
                        </div>
                        <div class="company__m-footer-row">
                            <div class="company__card-number">01</div>
                            <div class="company__uptime">96% аптайм</div>
                            <div class="company__m-dot"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="company__row">
            <h2 class="company__title">Современное<br/> предприятие</h2>
        </div>
        <div class="company__content">
            <div class="company__circle-outer">
                <div class="company__circle-main">
                    <div class="company__circle-anim"></div>
                </div>
                <div class="company__modal">
                    <button class="company__m-header">
                        <div class="company__m-title">Третий агрегат карбамида</div>
                        <div class="company__cls-btn"><span class="icon-clear"></span></div>
                    </button>

                    <div class="company__m-body">
                        <div class="company__m-txt">
                            Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                            предприятий в химической промышленности России.
                        </div>
                        <div class="company__m-footer">
                            <div class="company__m-footer-row">
                                <div class="company__c-name">Производственный комплекс</div>
                                <div class="company__limit">24 тонны в день</div>
                            </div>
                            <div class="company__m-footer-row">
                                <div class="company__card-number">01</div>
                                <div class="company__uptime">96% аптайм</div>
                                <div class="company__m-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company__circle-outer">
                <div class="company__circle-main">
                    <div class="company__circle-anim"></div>
                </div>
                <div class="company__modal">
                    <button class="company__m-header">
                        <div class="company__m-title">Третий агрегат карбамида</div>
                        <div class="company__cls-btn"><span class="icon-clear"></span></div>
                    </button>

                    <div class="company__m-body">
                        <div class="company__m-txt">
                            Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                            предприятий в химической промышленности России.
                        </div>
                        <div class="company__m-footer">
                            <div class="company__m-footer-row">
                                <div class="company__c-name">Производственный комплекс</div>
                                <div class="company__limit">24 тонны в день</div>
                            </div>
                            <div class="company__m-footer-row">
                                <div class="company__card-number">01</div>
                                <div class="company__uptime">96% аптайм</div>
                                <div class="company__m-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company__circle-outer">
                <div class="company__circle-main">
                    <div class="company__circle-anim"></div>
                </div>
                <div class="company__modal">
                    <button class="company__m-header">
                        <div class="company__m-title">Третий агрегат карбамида</div>
                        <div class="company__cls-btn"><span class="icon-clear"></span></div>
                    </button>

                    <div class="company__m-body">
                        <div class="company__m-txt">
                            Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                            предприятий в химической промышленности России.
                        </div>
                        <div class="company__m-footer">
                            <div class="company__m-footer-row">
                                <div class="company__c-name">Производственный комплекс</div>
                                <div class="company__limit">24 тонны в день</div>
                            </div>
                            <div class="company__m-footer-row">
                                <div class="company__card-number">01</div>
                                <div class="company__uptime">96% аптайм</div>
                                <div class="company__m-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company__circle-outer">
                <div class="company__circle-main">
                    <div class="company__circle-anim"></div>
                </div>
                <div class="company__modal">
                    <button class="company__m-header">
                        <div class="company__m-title">Третий агрегат карбамида</div>
                        <div class="company__cls-btn"><span class="icon-clear"></span></div>
                    </button>

                    <div class="company__m-body">
                        <div class="company__m-txt">
                            Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                            предприятий в химической промышленности России.
                        </div>
                        <div class="company__m-footer">
                            <div class="company__m-footer-row">
                                <div class="company__c-name">Производственный комплекс</div>
                                <div class="company__limit">24 тонны в день</div>
                            </div>
                            <div class="company__m-footer-row">
                                <div class="company__card-number">01</div>
                                <div class="company__uptime">96% аптайм</div>
                                <div class="company__m-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="company__circle-outer">
                <div class="company__circle-main">
                    <div class="company__circle-anim"></div>
                </div>
                <div class="company__modal">
                    <button class="company__m-header">
                        <div class="company__m-title">Третий агрегат карбамида</div>
                        <div class="company__cls-btn"><span class="icon-clear"></span></div>
                    </button>

                    <div class="company__m-body">
                        <div class="company__m-txt">
                            Этот текст следует написать и заменить. ПАО «Тольяттиазот» является одним из крупнейших
                            предприятий в химической промышленности России.
                        </div>
                        <div class="company__m-footer">
                            <div class="company__m-footer-row">
                                <div class="company__c-name">Производственный комплекс</div>
                                <div class="company__limit">24 тонны в день</div>
                            </div>
                            <div class="company__m-footer-row">
                                <div class="company__card-number">01</div>
                                <div class="company__uptime">96% аптайм</div>
                                <div class="company__m-dot"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>