<footer class="footer">
    <div class="content">
        <div class="footer__row">
            <div class="footer__col-l footer__col-l--socials">
                <div class="footer__socials">
                    <a href="" class="footer__link"><span class="icon-vk icon-social"></span></a>
                    <a href="" class="footer__link"><span class="icon-facebook icon-social"></span></a>
                    <a href="" class="footer__link"><span class="icon-insta icon-social"></span></a>
                    <a href="" class="footer__link"><span class="icon-twitter icon-social"></span></a>
                    <a href="" class="footer__link"><span class="icon-youtube icon-social"></span></a>
                    <a href="" class="footer__link"><span class="icon-zen icon-social"></span></a>
                </div>
            </div>
            <div class="footer__col-r">
                <div class="footer__square-big"></div>
                <div class="footer__square-small"></div>
            </div>
            <div class="footer__border-line-top"></div>
        </div>

        <div class="footer__row footer__row--main">

            <div class="footer__border-line-bottom"></div>
            <div class="footer__col-l footer__main-content">
                <div class="footer__border-line-main"></div>
                <div class="footer__block">
                    <button class="footer__title-btn">Компания</button>
                    <ul class="footer__block-list">
                       <li class="footer__item"><a href="" class="footer__link footer__underline-animation">История компании</a></li>
                       <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Стратегия развития</a></li>
                       <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Структура управления</a></li>
                       <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Инвестиционные проекты</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <button class="footer__title-btn">Продукция</button>
                    <ul class="footer__block-list">
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Аммиак</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Карбамид</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">КФК</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <button class="footer__title-btn">Пресс-центр</button>
                    <ul class="footer__block-list">
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Новости</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Пресса о нас</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Волжский химик</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Архив газеты</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Фото</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Видео</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Пресс-служба</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <button class="footer__title-btn">Устойчивое развитие</button>
                    <ul class="footer__block-list">
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Социальная ответственность</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Охрана окружающей среды</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Отчеты об устойчивом развитии</a></li>
                    </ul>
                </div>
                <div class="footer__block">
                    <button class="footer__title-btn">Инвесторам</button>
                    <ul class="footer__block-list">
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Отчеты и результаты</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Собрания акционеров</a></li>
                    </ul>
                </div>

                <div class="footer__block">
                    <button class="footer__title-btn">Карьера</button>
                    <ul class="footer__block-list">
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Школьникам, студентам, выпускникам</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Соцзащита сотрудников</a></li>
                        <li class="footer__item"><a href="" class="footer__link footer__underline-animation">Вакансии</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer__col-r footer__contacts">
                <div class="footer__white-square">
                    <div class="footer__top-square"></div>
                    <div class="footer__bottom-square"></div>
                </div>
                <div class="footer__block-title">Контакты</div>
                <ul class="footer__contacts-list">
                    <li class="footer__item">ПАО «ТОАЗ»
                        Россия, Самарская область, г. Тольятти
                        445045, Поволжское шоссе, 32
                    </li>
                    <li class="footer__item">
                        <span>Справочная</span>
                        <span class="footer__contacts-highlights">(8482) 60-10-09</span>
                    </li>
                    <li class="footer__item">
                        <span>Приемная</span>
                        <span class="footer__contacts-highlights">(8482) 60-11-52</span>
                    </li>
                    <li class="footer__item">
                        <span>Почта</span>
                        <span class="footer__contacts-highlights">zavod@corpo.toaz.ru</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__row footer__row--end">
            <div class="footer__col-l">
                <ul class="footer__f-list">
                    <li class="footer__f-item"><a href="" class="footer__f-link footer__underline-animation">Контакты</a></li>
                    <li class="footer__f-item"><a href="" class="footer__f-link footer__underline-animation">Реализация НВЗ</a></li>
                    <li class="footer__f-item"><a href="" class="footer__f-link footer__underline-animation">Дисклеймер</a></li>
                    <li class="footer__f-item"><a href="" class="footer__f-link footer__underline-animation">Защита данных</a></li>
                </ul>
                <div class="footer__border-line-submenu"></div>
            </div>
            <div class="footer__col-r">
                <div class="footer__comp-wrapper">
                    <span>
                        <img src="img/toaz-logo-white.png" alt="">
                    </span>
                    <span>© 2020 ПАО «ТОАЗ»</span>
                </div>
            </div>
        </div>


    </div>
</footer>