<header>
    <div class="content">
    <nav class="nav">

        <a href="#" class="nav__logo"><img src="img/logo.png" alt="logo"></a>
        <div class="nav__menu">
            <div class="nav__acc-wrapper">
                <div class="accordion">
                    <button class="accordion__btn">Компания <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">История компании</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Стратегия развития</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Структура управления</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Инвестиционные проекты</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <button class="accordion__btn">Продукция <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Аммиак</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Карбамид</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">КФК</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <button class="accordion__btn">Пресс-центр <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Новости</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Пресса о нас</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Волжский химик</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Архив газеты</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob nav__link-glob">Фото</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob nav__link-glob">Видео</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob nav__link-glob">Пресс-служба</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <button class="accordion__btn">Устойчивое развитие <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Социальная ответственность</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Охрана окружающей среды</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Отчеты об устойчивом развитии</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <button class="accordion__btn">Инвесторам <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Отчеты и результаты</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Собрания акционеров</a></li>
                        </ul>
                    </div>
                </div>

                <div class="accordion">
                    <button class="accordion__btn">Карьера <span class="icon-keyboard_arrow_right"></span></button>
                    <div class="accordion__panel">
                        <ul class="accordion__list">
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Школьникам, студентам, выпускникам</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Соцзащита сотрудников</a></li>
                            <li class="accordion__item"><a href="#" class="accordion__link nav__link-glob">Вакансии</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr class="nav__delimiter">
            <div class="nav__footer">
                <ul class="nav__f-list">
                    <li class="nav__f-item "><a href="" class="nav__f-link nav__link-glob">Контакты</a></li>
                    <li class="nav__f-item"><a href="" class="nav__f-link nav__link-glob">Реализация НВЗ</a></li>
                    <li class="nav__f-item"><a href="" class="nav__f-link nav__link-glob">Дисклеймер</a></li>
                    <li class="nav__f-item"><a href="" class="nav__f-link nav__link-glob">Защита данных</a></li>
                </ul>
                <div class="nav__lang">
                    <div class="nav__lang-item lang-active"><a href="" class="nav__lang-link nav__link-glob">RUS</a></div>
                    <div class="nav__v-delimiter"></div>
                    <div class="nav__lang-item"><a href="" class="nav__lang-link nav__link-glob">ENG</a></div>
                </div>
            </div>

        </div>
        <div class="hamburger">
            <span class="hamburger__bar"></span>
            <span class="hamburger__bar"></span>
            <span class="hamburger__bar"></span>
            <span class="hamburger__word">меню</span>
        </div>
    </nav>
    </div>
</header>