<section class="hero">
    <div class="content">
        <div class="hero__slider-wrapper">
            <div class="hero__slider">
                <div class="hero__slide hero__slide--first">
                    <div class="hero__slide-title">Экология — наш главный <span class="hero__text-stroke">приоритет</span></div>
                    <div class="hero__slide-content">
                        <div class="hero__comp-desc">
                            ПАО «Тольяттиазот» является одним
                            из крупнейших предприятий
                            в химической промышленности России. Признанный лидер отрасли
                            в стране и за рубежом.
                        </div>
                        <picture>
                            <source media="(max-width: 992px)" srcset="img/slide-1_lg.jpg" sizes="">
                            <source media="(max-width: 768px)" srcset="img/slide-1_md.jpg" sizes="">
                            <source media="(max-width: 576px)" srcset="img/slide-1_sm.jpg" sizes="">
                            <img src="img/slide-1.jpg" alt="factory">
                        </picture>
                    </div>

                    <!--<img src="img/slide-1.jpg" alt="factory">-->
                </div>
                <div class="hero__slide hero__slide--second">
                    <div class="hero__slide-title">современные и безопасные <span class="hero__text-stroke">технологии</span></div>
                    <div class="hero__slide-content">
                        <div class="hero__comp-desc">
                            ПАО «Тольяттиазот» является одним
                            из крупнейших предприятий
                            в химической промышленности России. Признанный лидер отрасли
                            в стране и за рубежом.
                        </div>
                        <picture>
                            <source media="(max-width: 992px)" srcset="img/slide-2_lg.jpg" sizes="">
                            <source media="(max-width: 768px)" srcset="img/slide-2_md.jpg" sizes="">
                            <source media="(max-width: 576px)" srcset="img/slide-2_sm.jpg" sizes="">
                            <img src="img/slide-2.jpg" alt="factory">
                        </picture>
                    </div>
                    <!--<img src="img/slide-2.jpg" alt="factory">-->
                </div>
                <div class="hero__slide hero__slide--first">
                    <div class="hero__slide-title">Экология — наш главный <span class="hero__text-stroke">приоритет</span></div>
                    <div class="hero__slide-content">
                        <div class="hero__comp-desc">
                            ПАО «Тольяттиазот» является одним
                            из крупнейших предприятий
                            в химической промышленности России. Признанный лидер отрасли
                            в стране и за рубежом.
                        </div>
                        <picture>
                            <source media="(max-width: 992px)" srcset="img/slide-1_lg.jpg" sizes="">
                            <source media="(max-width: 768px)" srcset="img/slide-1_md.jpg" sizes="">
                            <source media="(max-width: 576px)" srcset="img/slide-1_sm.jpg" sizes="">
                            <img src="img/slide-1.jpg" alt="factory">
                        </picture>
                    </div>
                    <!--<img src="img/slide-1.jpg" alt="factory">-->
                </div>
            </div>


            <div class="hero__btn-wrapper">

            </div>
        </div>
        <div class="hero__strategy">
            <!--<div class=""></div>-->
            <div class="hero__strategy-row">
                <div class="hero__slider-navigation">
                    <div class="hero__dots unselectable"></div>
                    <div class="hero__slider-btn-wrapper">
                        <button class="hero__prev">предыдущий</button>
                        <button class="hero__next">следующий</button>
                    </div>
                </div>
            </div>
            <div class="hero__strategy-row hero__strategy-row--main">
                <div class="hero__title">Стратегия</div>
                <div class="hero__txt">

                    <div class="hero__subtitle">«Тольяттиазот» исполняет значимую роль в развитии химической отрасли страны</div>
                    <div class="hero__about">ПАО «Тольяттиазот» ориентируется на долгосрочную программу развития, направленную на укрепление конкурентоспособности на мировом рынке химической продукции. ТОАЗ стремится к достижению максимальной эффективности бизнеса: модернизирует производство, оптимизирует процессы управления, снижает нагрузку
                        на экологию, инвестирует в человеческий капитал
                        и процветание региона.</div>
                    <a href="" class="hero__more-btn"><span>ПОДРОБНЕЕ</span><span class="icon-arrow-right"></span></a>
                </div>
            </div>
        </div>
    </div>
</section>