<section class="media">
    <div class="content">
        <div class="media__row">
            <h2 class="media__title">медиа</h2>
            <div class="media__content">
                
                <a class="media__item media__item--2">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>

                </a>
                <a class="media__item media__item--3">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
                <a class="media__item media__item--4">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
                <a class="media__item media__item--5">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>

                <a class="media__item media__item--6">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
                <a class="media__item media__item--7">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
                <a class="media__item media__item--8">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
                <a class="media__item media__item--9">
                    <div class="media__img-wrapper"></div>
                    <div class="media__card-txt-block">
                        <span class="media__card-txt">читать</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>