<section class="news">
  <div class="content">
    <div class="news__row">
      <h2 class="news__title">новости</h2>
      <div class="news__content">
        <div class="news__col">
          <div class="news__last">
            <div class="news__a-date">19 Марта 2021</div>
            <div class="news__a-title">Уполномоченные по охране труда Тольяттиазота победили во втором этапе областного конкурса</div>
            <div class="news__a-txt">
              <p>
                Сотрудники ПАО «ТОАЗ» - одного из ведущих производителей аммиака и карбамида в России и одного из
                градообразующих предприятий Тольятти, – заняли I и II места во втором этапе областного профсоюзного
                смотра-конкурса уполномоченных по охране труда среди химических компаний.
              </p>
              <p>
                Тольяттиазот на конкурсе представляли оператор котла производства карбамида Наталья Чахеева и старший
                мастер цеха межцеховых коммуникаций Светлана Ткаченко.
              </p>
            </div>
            <a href="#" class="news__a-detail">Читать далее</a>
          </div>
        </div>
        <div class="news__col">
          <div class="news__old">
            <div class="news__short">
              <p class="news__s-date">19 Марта 2021</p>
              <h3 class="news__s-title">Совет директоров ТОАЗа назначил новую дату проведения годового общего собрания акционеров</h3>
              <a href="#" class="news__s-detail">Читать далее</a>
            </div>

            <div class="news__short">
              <p class="news__s-date">19 Марта 2021</p>
              <h3 class="news__s-title">Совет директоров ТОАЗа назначил новую дату проведения годового общего собрания акционеров</h3>
              <a href="#" class="news__s-detail">Читать далее</a>
            </div>
          </div>
        </div>
      </div>
      <a class="news__all-btn">
        <span>все новости</span>
        <span class="icon-arrow-right"></span>
      </a>
    </div>
  </div>
</section>