<section class="pride">
    <div class="content">
        <div class="pride__row">
            <div class="pride__text">
                <h2 class="pride__title">нам есть чем<br> гордиться</h2>
                <div class="pride__desc">ПАО «ТОАЗ» является социально-ориентированной Компанией, которая
                    целенаправленно развивает социальные программы, что позволяет поддерживать стабильность и создает
                    благоприятный психологический климат в коллективе.</div>
            </div>
            <div class="pride__cards">
                <div class="pride__card"></div>
                <a href="" class="pride__card">
                    <div class="pride__c-title">Экономика — развитие</div>
                    <div class="pride__c-value">
                        <span class="pride__c-number">12</span>
                        <span class="pride__c-units">стран</span>
                    </div>
                    <div class="pride__c-desc">Экспорт в разные страны мира</div>
                </a>
                <a href="#" class="pride__card">
                    <div class="pride__c-title">Большая семья</div>
                    <div class="pride__c-value">
                        <span class="pride__c-number">05</span>
                        <span class="pride__c-units">тыс.чел </span>
                    </div>
                    <div class="pride__c-desc">Социальный пакет для всех работников </div>
                </a>
                <a href="#" class="pride__card">
                    <div class="pride__c-title">Инвестиции в будущее</div>
                    <div class="pride__c-value">
                        <span class="pride__c-number">50</span>
                        <span class="pride__c-units">млрд. ₽</span>
                    </div>
                    <div class="pride__c-desc">Инвестиций в экономику</div>
                </a>
                <div class="pride__card"></div>
                <div class="pride__card"></div>

            </div>
        </div>
    </div>
</section>