<section class="products">
    <div class="content">
        <div class="products__row products__row--top">
            <div class="products__title">
                Продукция<br>
                ПАО<br>
                Тольяттиазот
            </div>
            <div class="products__desc">Экологическая чистота. Собственные биологические очистные сооружения Тольяттиазота обеспечивают такую степень очистки сточных вод предприятия
                и нескольких районов города.</div>
        </div>
        <div class="products__row">
            <div class="products__grid">
                <a href="#" class="products__grid-item"></a>
                <a href="#" class="products__grid-item"></a>
                <a href="#" class="products__grid-item">
                    <div class="products__img-wrapper">
                        <img src="img/circles.png" alt="">
                    </div>
                    <div class="products__grid-title">Награды за качество</div>
                    <div class="products__substance-wrapper">
                        <div class="products__substance-name">КФК</div>
                        <div class="products__substance-desc">Выпускается для изготовления смолы и для удобрений.</div>
                        <button class="products__substance-btn">
                            <span class="icon-arrow_r"></span>
                        </button>
                    </div>
                </a>
                <a href="#" class="products__grid-item">
                    <div class="products__img-wrapper">
                        <img src="img/circles.png" alt="">
                    </div>
                    <div class="products__grid-title">Высший стандарт</div>
                    <div class="products__substance-wrapper">
                        <div class="products__substance-name">Аммиак</div>
                        <div class="products__substance-desc">Один из важнейших продуктов химической промышленности. </div>
                        <button class="products__substance-btn">
                            <span class="icon-arrow_r"></span>
                        </button>
                    </div>
                </a>
                <a href="#" class="products__grid-item">
                    <div class="products__img-wrapper">
                        <img src="img/circles.png" alt="">
                    </div>
                    <div class="products__grid-title">Высший стандарт</div>
                    <div class="products__substance-wrapper">
                        <div class="products__substance-name">Карбамид</div>
                        <div class="products__substance-desc">Высококонцентрированное азотное удобрение. </div>
                        <button class="products__substance-btn">
                            <span class="icon-arrow_r"></span>
                        </button>
                    </div>
                </a>
                <a href="#" class="products__grid-item"></a>
            </div>
        </div>
    </div>
</section>