<section class="resp">
    <div class="content">
        <div class="resp__row">

            <div class="resp__header">
                <h2 class="resp__title">
                    социальная ответственность
                </h2>
                <div class="resp__arrows">
                    <button class="resp__prev"><span class="icon-arrow-right icon-arrow-r__rotate"></span></button>
                    <button class="resp__next"><span class="icon-arrow-right"></span></button>
                </div>
            </div>
            <div class="resp__body">
                <div class="resp__body-indent"></div>
                <div class="resp__slider">
                    <div class="resp__slide resp__slide--first">
                        <div class="resp__card">
                            <div class="resp__s-img-wrapper resp__s-img-wrapper--first">
                                <img class="resp__s-img" src="img/resp-slide-1.jpg" alt="">
                            </div>
                            <div class="resp__s-number">/ 01</div>
                            <div class="resp__s-title">Биологические очистные сооружения</div>
                            <div class="resp__s-desc">Собственные биологические очистные сооружения Тольяттиазота обеспечивают
                                такую степень очистки сточных вод предприятия и нескольких районов города.</div>
                        </div>
                    </div>

                    <div class="resp__slide resp__slide--second">
                        <div class="resp__card">
                            <div class="resp__s-img-wrapper resp__s-img-wrapper--second">
                                <img class="resp__s-img" src="img/resp-slide-2.jpg" alt="">
                            </div>
                            <div class="resp__s-number">/ 02</div>
                            <div class="resp__s-title">Безотходное производство</div>
                            <div class="resp__s-desc">Углекислый газ используется для производства аммиака в синтезе карбамида —
                                производят жидкую и твердую углекислоту. Благодаря этому газ не выбрасывается в атмосферу.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>