.hero__more-btn {
  padding:20.5px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 400;
  font-size: 19px;
  line-height: 1;
  border: 2px solid #414042;
  max-width: 280px;
  width:100%;
  color:$mainColor;
  transition: all .2s ease-out;

  span.icon-arrow-right{
    transition: .3s ease-in-out;
    position: relative;

    &:before{
      font-size: 25px;
    }
  }

  &:visited{
    color:$mainColor;
  }
  @include breakpoint(xs38){
    max-width: unset;
  }
  &:hover{
    border:2px solid #eb4500;
    .icon-arrow-right{
      margin-right: 16px;
      color:black;
    }
    color:black;
  }

}

.products__substance-btn{
  width: 48px;
  height: 48px;
  background-color: #00AA4B;
  border:1px solid white;
  border-radius: 50%;
  transition: .3s ease-out;

  .icon-arrow_r{
    border:solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding:5px;
    transform:rotate(-45deg);
    position: relative;
    left: -3px;
    top: 1px;

    @include breakpoint(md){
      padding:3px;
      left: -2px;
      top: -1px;
    }
  }

  @include breakpoint(md){
    width: 24px;
    height: 24px;
  }
}

.company__m-header{
  width:100%;
  background-color: unset;
}

.blog__all-articles-btn{
  max-width: 280px;
  display: flex;
  padding: 0 32px;
  height: 66px;
  border: 2px solid $mainColor;
  font-weight: 400;
  font-size: 19px;
  line-height: 130%;
  color:$mainColor;
  text-transform: uppercase;
  align-items:center;
  justify-content: space-between;
  width:100%;
  transition: .3s ease-in-out;
  @include breakpoint(sm){
    max-width: unset;
    //width:100%;
    margin: 40px 0 24px;
  }
  &:visited{
    color:$mainColor;
  }
  .icon-arrow-right{
    font-size: 37px;
    position: relative;
    left: 0;
    transition: .3s ease-in-out;
  }

  &:hover{
    border: 2px solid #eb4500;
    .icon-arrow-right{
      //transition: .3s ease-in-out;
      color:#eb4500;
      position: relative;
      left:12px;
    }
    .blog__all-articles-txt{
      transition: .3s ease-out;
      transform:scale(.9);
    }
  }
}

.blog__all-editions-btn{
  @extend .blog__all-articles-btn;

  @include breakpoint(sm){
    margin: 0;
  }
}


.news__all-btn{
 @extend .blog__all-articles-btn;
  color:white;
  border-color: white;

  @include breakpoint(sm){
    max-width: 280px;
  }
  @include breakpoint(xs45){
    max-width: unset;
  }

  &:hover{
    cursor:pointer;

  }
}