.dropdown{
  width:300px;
  height: 50px;
  position:relative;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &__input{
    position: absolute;
    cursor:pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:#fff;
    border:none;
    outline:none;
    padding:12px 20px;
  }

  &__option{
    position: absolute;
    top: 60px;
    width: 100%;
    background-color: #fff;
    overflow: hidden;
    display:none;
    z-index: 1;

    div{
      padding: 12px 20px;
      cursor:pointer;

      &:hover{
        background: black;
        color:white;
      }
    }
  }
  &:before{
    content:'';
    position:absolute;
    right:20px;
    top: 15px;
    width: 8px;
    height: 8px;
    border:2px solid black;
    z-index:10;
    border-top:2px solid #fff;
    border-right:2px solid #fff;
    transform:rotate(-45deg);
    transition:.5s;
    pointer-events:none;
  }
  &.active:before{
    top: 20px;
    transform: rotate(-225deg);
  }

  &.active .dropdown__option{
    display:block;
  }
}