.tabs__panel {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

.tabs__panel button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;

  &:hover{
    background-color: #ddd;
  }

  &.active{
    background-color: #ccc;
  }
}

.tabs__content {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  animation: fadeEffect 1s;

  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
}
