.activity {

  padding:160px 0;

  @include breakpoint(md){
    padding: 80px 0;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 56px;

    @include breakpoint(sm68){
      flex-direction: column;
    }

    @include breakpoint(xs38){
      gap: 24px;
    }
  }

  &__title-wrapper {

  }

  &__title {
    max-width: 440px;
    margin-bottom: 128px;

    @include breakpoint(md){
      margin-bottom: 94px;
    }

    @include breakpoint(sm68){
      max-width: unset;
      text-align: center;
    }
    @include breakpoint(sm38){
      //text-align: start;
    }
  }

  &__bg-wrapper{
    width: 250px;
    height: 360px;
    overflow: hidden;
    position: relative;
    top: -56px;
    right: -136px;
    float: right;
    @include breakpoint(lg){
      width:calc(100vw/3.8);
    }

    @include breakpoint(md){
      width: 175px;
      height: 251px;
      top: unset;
      bottom: 44px;
      right: -96px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  &__img-wrapper {
    width: 288px;
    height: 362px;
    background-image: url('../img/activity_1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center ;
    margin-right: 136px;

    @include breakpoint(lg){

      width: calc(100vw/3.44);
      //height:auto;
    }

    @include breakpoint(md){
      width: 201px;
      height: 253px;
      margin-right: calc(100vw / 11.76);

    }

    @include breakpoint(sm68){
      margin:0 auto;
    }
    @media screen and (max-width: 440px){
      margin:unset;
    }
  }

  &__bg {

  }

  &__txt {
    max-width: 596px;
    margin-right: calc(100vw/7.55);
  
    @media screen and (max-width: 1200px) {
      margin-right: 0;
    }

    @include breakpoint(lg){
      max-width: 440px;
    }
    @include breakpoint(md){
      max-width: 340px;
    }
    @include breakpoint(sm68){
      max-width: unset;
    }
  }

  &__subtitle {
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 78px;
    @include fluid-type(768px, 992px, 16px, 20px);

    @include breakpoint(lg){
      margin-bottom: 54px;
    }

    @include breakpoint(md){
      margin-bottom: 24px;
    }
  }

  &__desc {

    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;

    p{
      margin-bottom: 35px;

      @include breakpoint(md){
        margin-bottom: 30px;
      }

      @include breakpoint(sm68){
        margin-bottom: 25px;
      }

      &:last-child{
        margin-bottom: 0;
      }
    }
  }
}