.blog {

  padding:160px 0;

  @include breakpoint(md){
    padding:80px 0;
  }

  &__row {
    display:flex;
    justify-content: space-between;

    @include breakpoint(lg13){
      flex-direction: column;
      row-gap: 48px;
    }
  }

  &__title {
    max-width: 350px;

    &-wrapper{
      text-transform: uppercase;
      max-width: 384px;
    }
  }

  &__articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 40px;
    row-gap: 86px;

    @include breakpoint(lg13){
      column-gap: 20px;
    }

    @include breakpoint(lg){
      grid-template-columns: repeat(2, auto);
      justify-content: center;
    }
    @include breakpoint(sm){
      grid-template-columns: 100%;
      margin: 0 auto;
      row-gap: unset;
    }
  }

  &__article {
    max-width: 384px;
    width: 100%;
    padding-bottom: 22px;
    display: flex;
    flex-direction: column;

    @include breakpoint(lg){

      &:nth-child(3){
        display: none;
      }
    }

    @include breakpoint(sm){
      margin-bottom: 24px;
    }

    /*&:hover{
      img{
        transition: .3s ease-in;
        transform:translate(-50%, -50%) scale(1.3);
      }
    }*/
  }

  &__a-img-wrapper {
    max-width: 384px;
    width: 100%;
    height: 240px;
    position: relative;
    overflow:hidden;
    border-radius: 20px;
    &:hover{

        img{
          transition: .3s ease-in-out;
          transform:translate(-50%, -50%) scale(1.3);
        }
    }
  }

  &__a-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    object-fit: cover;
  }

  &__all-articles-txt{

  }
  &__all-articles-txt{

  }
  &__a-title {
    margin:8px 0 16px;
  }

  &__a-desc {
    line-height: 140%;
    @include fluid-type(768px, 992px, 13px, 17px);
    flex-grow: 1;
  }

  &__a-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
  }

  &__a-date {
    color:#A7A9AC;
    @include fluid-type(768px, 992px, 13px, 17px);
    line-height: 140%;
    font-weight: 400;
  }

  &__a-link {
    font-weight: 400;
    color: #0078C5;
    @include fluid-type(768px, 992px, 13px, 17px);
    line-height: 140%;
    transition: .3s ease-in-out;
    border-bottom: 1px solid rgba(255,255,255,0);
    &:visited{
      color: #0078C5;
    }

    &:hover{
      color:#eb4500;
      border-bottom: 1px solid #eb4500;
    }
  }

  &__all-articles-btn {
  }

  &__all-editions-btn {
  }
}