.capacity {
  background-color: #a7a9ac;
  padding-top: 112px;
  padding-bottom: 112px;
  color:white;

  @include breakpoint(lg){
    padding-top: 100px;
    padding-bottom: 100px;
  }

  @include breakpoint(md){
    padding-top: 80px;
    padding-bottom: 80px;
  }

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-areas: "g-title g-stats g-img";
    column-gap: .5%;

    @include breakpoint(lg11){
      grid-template-columns: 28% 35% 35%;
      column-gap: 1%;
    }

    @include breakpoint(lg){
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: repeat(3,minmax(40px,auto));
      grid-template-areas:"g-title g-img"
                          "g-stats g-img";
    }
    @include breakpoint(sm68){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3,minmax(40px,auto));
      grid-template-areas:  "g-title"
                            "g-img"
                            "g-stats";
    }
  }

  &__col {
    &:first-child{
      grid-area: g-title;

      @include breakpoint(lg){
        margin-bottom: 30px;
      }
      @include breakpoint(sm68){
        display: flex;
        justify-content: center;
      }
      @include breakpoint(xs){
        justify-content: start;
      }
    }
    &:nth-child(2){
      grid-area: g-stats;

      @include breakpoint(sm68){
        display: flex;
        justify-content: center;
      }
      @include breakpoint(xs){
        justify-content: start;
      }
    }
    &:last-child{
      grid-area: g-img;

      @include breakpoint(lg){
        display: flex;
        align-items:center ;
      }

      @include breakpoint(sm68){
        margin-bottom: 40px;
        display: flex;
        justify-content: center;
      }
      @include breakpoint(xs){
        justify-content: start;
      }
    }


  }

  &__title {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    @include fluid-type(768px, 992px, 24px, 38px);
    line-height: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;



  }

  &__stats {

  }

  &__stats-block {
    display: flex;
    margin-bottom: 80px;

    @include breakpoint(md){
      margin-bottom: 40px;
    }
    /*&:last-child{
      margin-bottom: 0;
    }*/
  }

  &__subs-number {
    font-weight: 400;
    //font-size: 19px;
    @include fluid-type(768px, 992px, 15px, 19px);

    line-height: 130%;
  }

  &__subs-wrapper {
    @extend .capacity__subs-number;
  }

  &__subs-value {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    @include fluid-type(768px, 992px, 48px, 70px);
    line-height: 140%;

    @include breakpoint(md){
      line-height: 160%;
    }
  }

  &__substance {
    font-weight: 400;
    font-size: 17px;
    line-height: 140%;
  }

  &__subs-units {
  }

  &__link-wrapper {
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;

    a{
      display: inline-block;
      color:white;

      &:after{
        content:'';
        width:100%;
        height: 1px;
        background-color: white;
        display: block;
        transition: .3s ease-out;
      }

      &:hover:after{
        width: 0;
      }

      &:visited{
        color:white;
      }
    }
  }

  &__img-wrapper {

    img{
      width:100%;
      height:auto;
    }
  }

}