.company{
  max-height: calc(100vw/1.77);
  background-image: url("../img/company.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  height: 100%;
  padding:80px 0;
  @include breakpoint(md){
    height: auto;
    //min-height: fit-content;
    max-height: fit-content;
    //padding:40px 0;
    //padding-bottom: 80px;
  }

  .content{
    height:100%;
    position: relative;
  }

  &__title{
    //padding:80px 0 0 132px;
    color:white;
    letter-spacing: 1px;
    text-transform: uppercase;
    //flex-grow: 1;

    @include breakpoint(lg){
      display: none;
    }
    @include breakpoint(md){
      display: initial;
      //padding: 80px 0 48px;
    }
  }

  &__circle-outer{

    position: absolute;
    width: 60px;
    height: 60px;
    border:1px solid $orangeColor;
    border-radius: 50%;

    &:first-child{
      left:calc(100vw / 3.77);
      //top: calc(100vh / 3.27);
    }

    &:nth-child(2){
      left:calc(100vw / 3.1);
      top:calc( 100vh / 2.38/ 1.5);
    }
    &:nth-child(3){
      left: calc(100vw/1.78);
      top: calc(100vh / 2.16 / 1.5)
    }

    &:nth-child(4){
      right: calc(100vw / 3.17);
      top: calc(100vh / 9.72);
    }

    &:nth-child(5){
      right: calc(100vw / 4.7);
      bottom: calc(100vh / 4.21);
    }

    @include breakpoint(md){
      width:100%;
      height:unset;
      border:unset;
      position: unset;
    }
  }

  &__circle-main{
    left: 50%;
    top: 50%;
    transform:translate(-50%,-50%);
    max-width: 40px;
    max-height: 40px;
    width: 100%;
    height: 100%;
    background-color: $orangeColor;
    border-radius:50%;
    position: relative;
    transition: transform .3s ease-out;
    cursor:pointer;

    &:after{
      content: '';
      width: 16px;
      background-color: #fff;
      height:2px;
      z-index:1;
      display:block;
      top: 50%;
      left: 50%;
      position: absolute;
      transform: translate(-50%, -50%);
    }

    &:before{
      content: '';
      height:16px;
      width: 2px;
      background-color: #fff;
      position: absolute;
      display:block;
      z-index:1;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:hover{
      transform-origin: center center;
      transform: rotate(45deg) translateX(-27.285px);

      .company__circle-anim{
        animation-play-state: paused;
      }
    }

    @include breakpoint(md){
      display: none;
    }
  }

  &__circle-anim{
    border:4px solid $orangeColor;
    border-radius:50%;
    top: 50%;
    left: 50%;
    width: 40px;
    height: 40px;
    z-index:1;
    animation-name: circleAnim;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: absolute;
    transform:translate(-50%, -50%);
  }

  @keyframes circleAnim{
    0% {
      opacity:1;
    }
    50%{
      opacity: .4;
    }
    100% {
      height: 70px;
      width: 70px;
      opacity:0;
    }
  }

  &__cls-btn{
    display:inline-block;
    cursor:pointer;
  }

  &__modal{
    padding:16px;
    width: 384px;
    //width:100%;
    border-radius: 15px;
    //border:1px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    transition:all .3s ease-in-out;
    z-index:-1;
    opacity:0;
    background-color: #fff;

    &.active{
      opacity:1;
      z-index:1;
    }

    @include breakpoint(md){
      transform: translate(0,0);
      width:100%;
      position: static;
      opacity: unset;
      z-index: 0;
      margin-bottom: 16px;

    }
  }

  &__m-header {
    display: flex;
    justify-content: space-between;
    cursor: default;

    .icon-clear{
      font-size: 26px;
      display: inline-block;
      transition: .3s;

      &:hover{
        transform: scale(1.2);
      }
    }

    @include breakpoint(md){
      align-items: center;
      cursor:pointer;

      &:not(.active){
        .company__m-title{
          margin-bottom: 0;
        }
        .icon-clear{
          transform:rotate(45deg);
        }
      }


    }
  }

  &__m-title {
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    @include fluid-type(768px, 992px, 17px, 22px);
    line-height: 1;
    max-width: 264px;
    text-align: start;
    //margin-bottom: 24px;

    @include breakpoint(sm){
      max-width: 220px;
    }
  }
  &__m-txt{
   @include fluid-type(768px, 992px, 12px, 14px);
    line-height: 120%;
    margin: 24px 0 36px;
  }

  &__cls-btn {
  }

  &__m-body {
    @include breakpoint(md){
      max-height:0;
      overflow: hidden;
      //padding-bottom: 16px;
      transition: .4s;
    }
  }

  &__m-footer {
    padding-top: 18px;
    border-top: 2px solid $mainColor;
    @include fluid-type(768px, 992px, 13px, 17px);
  }

  &__m-footer-row {
    display: flex;
    position: relative;

    &:first-child{
      justify-content: space-between;
      margin-bottom: 8px;
    }
  }

  &__m-dot {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: $mainColor;
    bottom: 0;
    right: 0;
    border-radius: 50%;
  }
  &__c-name{

    max-width: 165px;
  }
  &__uptime{
    margin-left: 40px;
    line-height: 140%;
  }
  &__card-number{
    line-height: 140%;
    border-right: 1px solid $mainColor;
    padding-right: 8px;
  }
  &__row{
    @include breakpoint(md){
      //padding: 80px 0 48px;
      padding-bottom: 48px;
    }
  }


}