.hero {
  //padding-top: 80px;
  padding-bottom: 160px;

  @include breakpoint(md){
    padding-bottom: 80px;
  }

  &__slider-wrapper {
  }

  &__slider {
  }

  &__slide {
    display: flex;
    justify-content: end;

    &.hero__slide--first{
      .hero__slide-content{
        position: relative;
      }

      @include breakpoint(sm68){
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .hero__slide-content{
        //flex-grow: 1;
      }
    }
    &:not(.hero__slide--first){
      .hero__slide-title{
        @include breakpoint(sm68){
          //margin-top: 90px;
        }
      }
      img{
        max-width: calc(100vw / 2);
        width: 100%;
        height: auto;
        right:calc(100vw / (7.55 * 1.2));

        @include breakpoint(lg){
          right:calc(100vw / (8.3 * 1.3));
          margin-top: 83px;
        }
        @include breakpoint(sm68){
          margin: 0 auto;
          float:unset;
          max-width: calc(100vw / 1.8);
          //margin-top: 0;
          right: unset;
        }
      }
    }



    img{
      float:right;
      position: relative;
    }

    /*@include breakpoint(sm68){
      .hero__slide-title{
      margin-top: 90px;
      }
    }*/
  }

  &__slide-title {
    top: 128px;
    z-index: 1;
    position: absolute;
    color:$mainColor;
    max-width: 800px;
    font-weight: 400;
    line-height: 100%;
    text-transform: uppercase;
    font-family: 'Russo One', sans-serif;

    @include fluid-type(768px, 992px, 34px, 88px);

    @include breakpoint(lg){
      max-width: calc(800px - 12vw);
    }
    @include breakpoint(md){
      max-width: 340px;

    }

    @include breakpoint(sm68){
      max-width: unset;
      text-align: center;
      position: unset;
      margin-bottom: 40px;
      margin-top: 90px;

    }

    @include breakpoint(sm){
      text-align: start;
      max-width: 100vw;
    }

    .hero__text-stroke{
      color: white;
      text-shadow: 1px 1px $mainColor, -1px -1px $mainColor;

      @supports(-webkit-text-stroke: 1px $mainColor){
          color: transparent;
          -webkit-text-stroke: 1px $mainColor;
          text-shadow: none;
      }
    }
  }

  &__text-stroke {
  }

  &__slide-content{
    display: flex;
    justify-content: space-between;
    gap: 40px;

    @include breakpoint(sm68){
      flex-direction: column;
      gap: 24px;
    }
  }

  &__comp-desc {
    position: relative;
    bottom: 0;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;
    max-width: 384px;
    display: flex;
    align-items: end;

    @include breakpoint(lg){
      max-width: 320px;
    }
    @include breakpoint(md){
      max-width: 250px;
      font-size: 15px;
    }
    @include breakpoint(sm68){
      max-width: unset;
    }
  }

  &__strategy {
    display: flex;
    flex-direction: column;
  }

  &__strategy-row{
    justify-content: space-between;

    &:last-child{
      display: flex;
    }

    &--main{


      @include breakpoint(lg){
        gap: 15px;
      }
      @include breakpoint(sm){
        flex-direction: column;
      }
    }
  }

  &__title {
    @include fluid-type(768px, 992px , 24px, 38px);
    font-family: 'Russo One', sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    //flex-basis: 52%;
  }

  &__txt {
    //flex-basis: 48%;
    max-width: 596px;

    @include breakpoint(lg){
      max-width: 558px;
    }

    @include breakpoint(md){
      max-width: 340px;
    }
    @include breakpoint(sm){
      max-width: 100%;
    }
  }

  &__subtitle {
    @include fluid-type(768px, 992px , 16px, 20px);
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
  }

  &__about {
    @include fluid-type(768px, 992px , 15px, 19px);
    margin:48px 0 40px;
    font-weight: 400;
    font-size: 19px;
    line-height: 130%;

    @include breakpoint(md){
      margin:24px 0 40px;
    }
  }

  &__more-btn {
  }

  .icon-arrow-right {
  }


  .dots--active{
    color: white;
    text-shadow: 1px 1px black, -1px -1px black;

    @supports(-webkit-text-stroke: 1.5px black){
      color: transparent;
      -webkit-text-stroke: 1.5px black;
      text-shadow: none;
    }
  }

  .slick-dots{
    display: flex;
    width: 100%;
    justify-content: space-between;

    li{
      a{
        cursor:pointer;
        font-family: 'Russo One', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 24/20 * 100%;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: white;
        text-shadow: 1px 1px #A7A9AC, -1px -1px #A7A9AC;
        transition: .3s;

        @supports(-webkit-text-stroke: 1px #A7A9AC){
          color: transparent;
          -webkit-text-stroke: 1px #A7A9AC;
          text-shadow: none;
        }
      }
      &.slick-active{
        //background-color: red;
        a{
          color: white;
          text-shadow: 1px 1px black, -1px -1px black;

          @supports(-webkit-text-stroke: 1.5px black){
            color: transparent;
            -webkit-text-stroke: 1.5px black;
            text-shadow: none;
          }
        }
      }

      a:hover{
        @extend .dots--active;
      }

      @include breakpoint(lg){
        margin-right: 48px;
      }

      @include breakpoint(sm){
        margin-right: unset;
      }

      &:last-child{
        margin-right: 0;
      }
    }
    @include breakpoint(sm){
      justify-content: space-around;
    }
    @include breakpoint(xs38){
      justify-content: space-between;
    }
  }
  &__next, &__prev{
    font-size: 17px;
    line-height: 140%;
    background-color: unset;
    transition: .3s;
    position: relative;
    top: 0;

    &:hover{
      top: -3px;
      color:#00AA4B;
    }
  }

  &__slider-btn-wrapper{
    display: flex;
    column-gap: 32px;

    @include breakpoint(md){
      display: none;
    }
  }
  &__slider-navigation{
    margin: 32px 0 160px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 596px;
    float: right;
    gap: 25px;


    @include breakpoint(lg){
      gap: calc(100vw / 8.46);
      max-width: 558px;
      margin: 16px 0 160px;
    }

    @include breakpoint(md){
      max-width: 340px;
      margin:8px 0 80px;
    }
    @include breakpoint(sm){
      max-width: unset;
      width:100%;
    }

  }

  &__dots{
    max-width: 350px;
    display: flex;
    width: 100%;
    @include breakpoint(sm){
      max-width: unset;
      justify-content: space-around;
    }
    @include breakpoint(xs38){
      justify-content: space-between;
    }
  }
  .slick-track{
    display: flex;
    align-items: end;

    @include breakpoint(sm68){
      align-items: unset;
    }
  }
}

.unselectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}