.media {

  padding: 160px 0;

  @include breakpoint(md){
    padding:80px 0;
  }

  &__row {
    display: flex;

    @include breakpoint(lg14){
      flex-direction: column;
      row-gap: 48px;
    }
  }

  &__title {
    text-transform: uppercase;
    width: 384px;
  }

  &__content {
    display: grid;
    grid-template-areas: ". item2 item2 item3 item4 item5"
                         "item6 item7 item8 item9 item9 .";
    column-gap: 40px;
    row-gap: 40px;
    width: 100%;

    @include breakpoint(lg14){
      column-gap: 25px;
      row-gap: 25px;
    }
    @include breakpoint(lg){
      column-gap: 40px;
      row-gap: 40px;
      grid-template-areas: ". item2 item2 item3"
                           "item4 item5 item6 item7"
                           "item8 item9 item9 .";
      //grid-template-columns: repeat(3, );
    }
    @include breakpoint(md){
      column-gap: 24px;
      row-gap: 24px;
    }

    @include breakpoint(sm){
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: "item2 item2"
                           "item3 item4"
                           "item5 item6"
                           "item7 item8"
                           "item9 item9";
    }
  }

  &__img-wrapper--glob {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    //position: relative;
    transition: .3s ease-in-out;
  }

  &__item-img--big{
    max-width: 384px;
    width: 100%;

    @include breakpoint(lg){
      max-width: 440px;
    }
    @include breakpoint(md){
      max-width: 340px;
    }

    @include breakpoint(sm){
      max-width: 100%;
    }
  }
  &__item-img--small{
    max-width: 172px;
    width: 100%;

    @include breakpoint(lg){
      max-width: 200px;
    }
    @include breakpoint(md){
      max-width: 158px;
    }
    @include breakpoint(sm){
      max-width: 100%;
    }
  }

  &__card-txt-block{
    opacity: 0;
    height: 30%;
    transition: .3s;
    top: 50%;
    //left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0,.5);
    //bottom: -100%;
    position: absolute;
    width: 100%;
    transform: translateY(-50%);

    .media__card-txt{
      color:white;
      font-weight: 500;
      @include fluid-type(768px, 992px, 14px, 19px);
      line-height: 1;
    }
  }

  &__item {
    height: 172px;
    overflow: hidden;
    position: relative;

    @include breakpoint(lg){
      height: 200px;
    }
    @include breakpoint(md){
      height: 158px;
    }
    @include breakpoint(sm){
      height: 133px;
    }

    &:hover{
      cursor:pointer;

      .media__img-wrapper{
        transform: scale(1.3);
      }
      .media__card-txt-block{
        opacity: 1;
        bottom: 0;
      }
    }


    &--2{
      grid-area: item2;
      @extend .media__item-img--big;

      .media__img-wrapper{
        background-image: url("../img/card-1.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
    &--3{
      grid-area: item3;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-2.jpg");
        @extend .media__img-wrapper--glob;
      }
    }

    &--4{
      grid-area: item4;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-3.jpg");
        @extend .media__img-wrapper--glob;
      }
    }

    &--5{
      grid-area: item5;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-4.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
    &--6{
      grid-area: item6;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-5.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
    &--7{
      grid-area: item7;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-6.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
    &--8{
      grid-area: item8;
      @extend .media__item-img--small;

      .media__img-wrapper{
        background-image: url("../img/card-7.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
    &--9{
      grid-area: item9;
      @extend .media__item-img--big;

      .media__img-wrapper{
        background-image: url("../img/card-8.jpg");
        @extend .media__img-wrapper--glob;
      }
    }
  }

}