.news {
  color:white;
  background-color: $mainColor;
  padding: 160px 0;

  @include breakpoint(md){
    padding:80px 0;
  }
  
  &__row {
    display: flex;
    flex-direction: column;

  }

  &__title {
    text-transform: uppercase;

  }

  &__content {
    margin:80px 0;
    display: flex;
   //justify-content: space-around;
    column-gap: 40px;


    @include breakpoint(md){
      margin: 48px 0;
      column-gap: 24px;
    }

    @include breakpoint(sm){
      flex-direction: column;
      row-gap: 40px;
    }
  }

  &__last {
    max-width: 595px;
    width: 100%;

    @include breakpoint(lg){
      max-width: 440px;
    }
    @include breakpoint(sm){
      max-width: unset;
    }
  }

 &__col{
   flex-basis: 50%;
 }
  &__a-title {
    margin:24px 0 40px;
    @include fluid-type(768px, 992px, 17px, 22px);
    font-family: "Russo One", sans-serif;
    line-height: 1;
    font-weight: 400;
  }

  &__a-txt {
    @include fluid-type(768px, 992px, 13px, 17px);
    line-height: 140%;
    display: flex;
    flex-direction: column;
    row-gap: 32px;

    @include breakpoint(md){
      row-gap: 24px;
    }
  }

  &__a-detail {
  }

  &__old {
    max-width: 595px;
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 40px;

  }

  &__short {
  }

  &__s-date, &__a-date {
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
    margin-bottom: 24px;
  }

  &__s-title {
    color:white;
    font-weight: 700;
  }

  &__s-detail, &__a-detail {
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
    margin-top: 24px;
    display: inline-block;
    border-bottom: 1px solid white;
    transition: .3s;
    padding-bottom: 2px;
    color:white;

    &:hover{
      border-bottom: 1px solid $mainColor;
    }
    &:visited{
      color:white;
    }
  }

  &__all-btn {
  }
}