.pride {

  background-color: #FFD400;
  padding:160px 0 0;

  @include breakpoint(lg14){

  }

  @include breakpoint(md){
    padding: 80px 0;
  }

  &__row {
  }

  &__text {
  }

  &__title {
    text-transform: uppercase;
    margin-bottom: 56px;
    max-width: 384px;
  }

  &__desc {
    max-width: 596px;
    font-weight: 400;
    line-height: 130%;

    @include fluid-type(768px, 992px, 15px, 19px);

    @include breakpoint(lg){
      margin-bottom: 80px;
    }

    @include breakpoint(md){
      margin-bottom: 40px;
    }
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 411px);
    grid-template-rows: repeat(2, 383px);
    justify-content: end;
    position: relative;
    top:-216px;

    @include breakpoint(lg14){
      top: 0;
    }
    @media screen and (max-width: 1240px){
      justify-content: center;
      grid-template-columns: repeat(3, 1fr);
      //grid-template-rows: repeat();
    }
    @include breakpoint(lg){
      grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(md){
      grid-template-rows: repeat(2, 334px);
    }
    @include breakpoint(sm){
      grid-template-columns: 100%;
      grid-template-rows: repeat(3, 280px);
    }
  }

  &__card {
    transition: .3s;
    padding:48px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:nth-child(n + 2):nth-child(-n + 4){
      border:2px solid $mainColor;

      &:nth-child(3){
        border-left:none;

        @include breakpoint(sm){
          border-left: 2px solid $mainColor;
          border-top: unset;
        }
      }

      &:first-child{
        display: none;
      }

      &:visited{
        color:$mainColor;
      }

      &:hover{
        color: #EB4500;
        background-color: #fff;
        cursor:pointer;

        .pride__c-number{
          text-shadow: 1px 1px #EB4500, -1px -1px #EB4500;

          @supports(-webkit-text-stroke: 1.5px #EB4500){
            color: transparent;
            -webkit-text-stroke: 1.5px #EB4500;
            text-shadow: none;
          }
        }
      }

      @include breakpoint(lg){
        &:nth-child(4){
          border-top: none;
        }
        &:nth-child(5), &:nth-child(6){
          display: none;
        }
      }
      /*@include breakpoint(sm){
        &:nth-child(5), &:nth-child(6){
          display: none;
        }
      }*/

    }

    @include breakpoint(lg){
      padding:32px;
      &:first-child{
        display: none;
      }
    }

    @include breakpoint(md){
      padding: 24px;
      &:nth-child(5), &:nth-child(6){
        display: none;
      }
    }
  }

  &__c-title {
    flex-grow: 1;
    font-weight: 400;
    line-height: 130%;

    @include fluid-type(768px, 992px, 15px, 19px);
  }

  &__c-value {
  }

  &__c-number {
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    @include fluid-type(768px, 992px, 96px, 120px);
    line-height: 100%;
    color: white;
    text-shadow: 1px 1px black, -1px -1px black;

    @supports(-webkit-text-stroke: 1.5px black){
      color: transparent;
      -webkit-text-stroke: 1.5px black;
      text-shadow: none;
    }
  }

  &__c-units {
    font-weight: 700;
    line-height: 120%;
    @include fluid-type(768px, 992px, 16px, 20px);
  }

  &__c-desc {
    font-weight: 400;
    line-height: 130%;
    @include fluid-type(768px,992px, 15px,19px);
  }
}