.products {

  background-color: #00AA4B;
  padding:160px 0 88px;

  @media screen and (max-width: 1340px){
    padding: 160px 0;
  }
  &__row {

  }

  &__row--top{
    display: flex;
    gap: 43px;

    @include breakpoint(sm){
      flex-direction: column;
      gap: 48px;
    }
  }

  &__title {
    color:white;
    font-family: 'Russo One', sans-serif;
    font-style: normal;
    font-weight: 400;
    @include fluid-type(768px, 992px, 24px, 38px);
    line-height: 110%;
    letter-spacing: 1px;
    text-transform: uppercase;
    max-width: 384px;

  }

  &__desc {
    font-weight: 400;
    //font-size: 19px;
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
    color: #FFFFFF;
    max-width: 595px;

    @include breakpoint(xs45){
      z-index: 1;
      text-shadow: 0.5px 0.5px $mainColor;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(3, 411px);
    grid-template-rows: repeat(2, 382px);
    justify-content: end;
    position: relative;
    top: -72px;

    @media screen and (max-width: 1340px) {
      top: 0;
      margin-top: 92px;
    }

    @media screen and (max-width: 1240px){
      grid-template-columns: repeat(3, 33%);
      justify-content: center;
    }

    @include breakpoint(lg){
      grid-template-columns: repeat(2, calc(100vw/2 - 72px));
      grid-template-rows: repeat(2, calc(100vw/2 - 104px));
    }

    @include breakpoint(sm68){
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, 1fr);
    }

    @include breakpoint(sm){
      margin-top: 40px;
    }

    @include breakpoint(xs45){
      //grid-template-columns: 1fr;
      grid-template-rows: repeat(3, calc(100vw/1.1 - 24px));
    }

  }

  &__grid-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding:18px;
    color:white;
    position: relative;
    transition: .3s ease-out;

    &:nth-child(n + 3):nth-child(-n + 5){
      border:1px solid white;

      &:nth-child(4){
        border-right: none;

        @include breakpoint(sm68){
          border-right: 1px solid white;
        }
      }

      &:hover{
        cursor:pointer;
        background-color: white;
        color: $mainColor;

        .products__grid-title{
          color:white;
        }

        button{
          border-color: $mainColor;
          background-color: white;

          span{
            border-color:$mainColor;
          }
          &:hover{
            background-color: #00AA4B;
            .icon-arrow_r{
              &:before{
                color:white !important;
              }
            }
          }
        }

        .products__img-wrapper{
          display: initial;
          opacity: 1;
        }
      }
      @include breakpoint(sm68){
        border-bottom: unset;

        &:nth-child(5){
          border-bottom: 1px solid white;
        }
      }
    }

    @include breakpoint(lg){
      &:nth-child(1), &:nth-child(6){
        display: none;
      }
    }
    @include breakpoint(sm68){
      &:nth-child(2){
        display: none;
      }
    }
  }

  &__grid-title {
    font-weight: 400;
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
  }

  &__substance-wrapper {
  }

  &__substance-name {
    font-weight: 700;
    @include fluid-type(768px, 992px, 16px, 20px);
    line-height: 120%;
  }

  &__substance-desc {
    font-weight: 400;
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
    margin:16px 0 24px;
  }

  &__substance-btn {

  }
  &__img-wrapper{
    position: absolute;
    top: -41%;
    opacity: 0;
    display: none;
    transition: .4s ease-in-out;
    @include breakpoint(md){
      right: 0;
      img{
        max-width: 240px;
      }
    }

    @include breakpoint(sm68){
      top: -64%;
      right: 0;

      img{
        max-width: 200px;
      }
    }
    @include breakpoint(sm){
      top: -31%;
      img{
        max-width: 140px;
      }
    }

    @include breakpoint(xs45){

      img{
        max-width: 50vw;
      }
    }
  }
}