.resp {

  padding:160px 0;
  overflow-x: hidden;
  @include breakpoint(md){
    padding:80px 0;
  }

  &__row {
    display: flex;
    flex-direction: column;
  }

  &__header{

    display: flex;
    width:100%;
    margin-bottom: 48px;
    @include breakpoint(md){
      flex-direction: column;
      row-gap: 48px;
      margin-bottom: 24px;
    }
  }
  &__title {
    max-width: 400px;
    text-transform: uppercase;
    line-height: 110%;
  }

  &__arrows {
    display: flex;
    align-items: end;
    flex-grow: 1;
    justify-content: center;

    @include breakpoint(md){
      justify-content: start;
    }
  }

  &__body{
    display: flex;
  }
  &__body-indent{
    min-width: 400px;

    @include breakpoint(lg){
      width:0;
      min-width: unset;
    }
  }

  &__prev, &__next{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    border:2px solid #EB4500;
    background-color: white;
    transition:border-width .1s ease-in-out;

    @include breakpoint(md){
      width: 52px;
      height: 52px;
    }

    &:hover{
      border-width: 4px;
    }
  }

  &__prev{
    margin-right: 30px;
    
    @include breakpoint(md){
      margin-right: 20px;
    }

    &:hover{
      .icon-arrow-right{
        transform: rotate(180deg) translateX(4px);
      }
    }
  }

  &__next {

    &:hover{
      .icon-arrow-right{
        transform: translateX(4px);
      }
    }
  }

  &__slider {
    @include breakpoint(xs45){
      width: 100%;
    }
  }

  &__slide {


    &.resp__slide--first{

      .resp__card{
        max-width: 424px;
      }

      .resp__s-img-wrapper{
        width:424px;
        height: 276px;
      }

      @include breakpoint(md){
        .resp__card{
          max-width: 296px;
        }
        .resp__s-img-wrapper--first{
          width: 296px;
          height: 190px;
        }
      }
      @include breakpoint(xs45){

        .resp__card{

        }
        .resp__s-img-wrapper--first{

        }
      }
    }

    &.resp__slide--second{

      .resp__card{
        max-width: 280px;
      }

      .resp__s-img-wrapper{
        height: 386px;
        width: 280px;
      }

      @include breakpoint(md){

        .resp__card{
          max-width: 216px;
        }
        .resp__s-img-wrapper--second{
          width: 216px;
          height: 299px;
        }
      }

      @include breakpoint(xs45){
        width:fit-content;
        .resp__card{

        }
        .resp__s-img-wrapper--second{

        }
      }

    }

  }

  &__s-img-wrapper{

    overflow: hidden;
    position: relative;
  }

  &__s-img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    object-fit:cover;
  }

  &__s-number {
    @include fluid-type(768px, 992px, 15px, 19px);
    line-height: 130%;
  }

  &__s-title {
    margin: 4px 0 16px;
    @include fluid-type(768px, 992px, 16px, 20px);
    font-weight: 700;
    line-height: 120%;
  }

  &__s-desc {
    font-weight: 400;
    @include fluid-type(768px, 992px, 13px, 17px);
    line-height: 140%;
  }

  .slick-track{
    display: flex;
    align-items: center;

  }
  .slick-slide{
    margin: 0 80px;

    @include breakpoint(md){
      margin:0 40px;
    }
    @include breakpoint(xs45){
      margin:0 15px;
    }
  }
  .icon-arrow-right{
    color:$mainColor;
    font-size: 22px;
    display: inline-block;
    transition:transform .2s ease-in-out;

    @include breakpoint(md){
      font-size: 15px;
    }
  }

  .icon-arrow-r__rotate{
    transform:rotate(180deg);
  }
}