@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Russo+One&display=swap');

@font-face {
  font-family: 'FuturaFuturisC';
  src: url($futuraFuturisPath + "FuturaFuturisC.eot");
  src: url($futuraFuturisPath + "FuturaFuturisC.eot?#iefix") format('embedded-opentype'),
  url($futuraFuturisPath + "FuturaFuturisC.otf") format('otf'),
  url($futuraFuturisPath + "FuturaFuturisC.svg#FuturaFuturisC") format('svg'),
  url($futuraFuturisPath + "FuturaFuturisC.ttf") format('truetype'),
  url($futuraFuturisPath + "FuturaFuturisC.woff") format('woff');
}

@font-face {
  font-family: 'FuturaFuturisC-Bold';
  src: url($futuraFuturisPath + "FuturaFuturisC-Bold.eot");
  src: url($futuraFuturisPath + "FuturaFuturisC-Bold.eot?#iefix") format('embedded-opentype'),
  url($futuraFuturisPath + "FuturaFuturisC-Bold.otf") format('otf'),
  url($futuraFuturisPath + "FuturaFuturisC-Bold.svg#FuturaFuturisC-Bold") format('svg'),
  url($futuraFuturisPath + "FuturaFuturisC-Bold.ttf") format('truetype'),
  url($futuraFuturisPath + "FuturaFuturisC-Bold.woff") format('woff');
}

@font-face {
  font-family: 'icomoon';
  src:  url($iconFontPath + 'icomoon.eot?ix9yub');
  src:  url($iconFontPath + 'icomoon.eot?ix9yub#iefix') format('embedded-opentype'),
  url($iconFontPath + 'icomoon.ttf?ix9yub') format('truetype'),
  url($iconFontPath + 'icomoon.woff?ix9yub') format('woff'),
  url($iconFontPath + 'icomoon.svg?ix9yub#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}