@mixin breakpoint($point){
  @if ($point == xl){@media (max-width: 1600px) {@content;}}
  @else if($point == lg14){@media (max-width: 1420px) {@content;}}
  @else if($point == lg13){@media (max-width: 1300px) {@content;}}
  @else if($point == lg11){@media (max-width: 1100px) {@content;}}
  @else if($point == lg){@media (max-width: 992px) {@content;}}
  @else if($point == md){@media (max-width: 768px) {@content;}}
  @else if($point == sm68){@media (max-width: 680px) {@content;}}
  @else if($point == sm){@media (max-width: 576px) {@content;}}
  @else if($point == xs45){@media (max-width: 450px) {@content;}}
  @else if($point == xs38){@media (max-width: 380px) {@content;}}
  @else if($point == xs){@media (max-width: 320px) {@content;}}
}

@mixin abs-position ($top, $right, $bottom, $left) {
  position: absolute;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@function strip-unit($value) {
  @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-font-size);
  $u4: unit($max-font-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      font-size: $min-font-size;
      @media screen and (min-width: $min-vw) {
        font-size: calc(#{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
      }
      @media screen and (min-width: $max-vw) {
        font-size: $max-font-size;
      }
    }
  }
}
