/*NAVIGATION*/
$navBgColor: white;
$navTextColor: #475569;
$navTextHoverColor: #482ff7;
$burgerColor: #101010;
$aboveNavContentHeight:0;
$navHeight:70px;
/*NAVIGATION*/

$futuraFuturisPath: '../fonts/futura/';
$iconFontPath: '../fonts/iconfont/';

$mainColor:#414042;
$orangeColor: #EB4500;
